
<br>
<br>

<h2 align="center"> Login </h2>

<body align="center">

<% if notice %>
  <div> <%= notice %> </div>
<% end %>

<div align="center">
  <img class="login--image-container" src="/assests/bags/loginpage.jpg" style="width: 100%" />
    <%= form_tag "/login" do %>
      <%= label :username, "username: " %>
      <%= text_field_tag :username %>
      <%= submit_tag "Login" %>
    <% end %>
</div>

</body>
