
<body class="login-page">


  <% if notice %>
    <div> <%= notice %> </div>
  <% end %>



  <div align="center" style="z-index: 1">
    <img src="/assets/bags/LoginPage.jpg" style=" z-index: 0">
      <div class="login-container">
        <h2 align="center" style=" font-family: 'Dancing Script"> Login </h2>
        <%= form_tag "/login" do %>
          <%= label :username, "username: " %>
          <%= text_field_tag :username %> <br>
          <%= label :password, "password: " %>
          <%= password_field_tag :password %> <br>
          <%= submit_tag "Login" %>
        <% end %>
      </div>


  </div>


</body>