
<br>

<h1>Hi, <%= @customer.first_name.capitalize %>! Here are your account details: </h1>

<br>

<!--    IF  PURCHASE COUNTER  ELSE LINK TO INDEX(STORE):  ""-->
<% if @customer.purchase_list %>
  <% "You've purchased #{@customer.purchase_list.length} items" %>
<% else%>
<!--Shows users purchased item  count (can be  changed to be iterated thru for an index of items)-->
  <button>  <h3><%=link_to 'Shop All!', items_path%></button></h2>
  <% end %>
<!--     If the user hasn't bought any items, link to items_path or a store page-->
<!--Shows users purchased item  count (can be  changed to be iterated thru for an index of items)-->

<h2>Full name: <%= @customer.full_name %></h2>
<h2>Address: <%= @customer.address %></h2>
<h2>Birthday: <%= @customer.birthday %> </h2>

<h4> <button><%= link_to 'Edit Your Account', edit_customer_path(@customer) %> </h4> </button>
