
">
<br>
<h1>Hi, <%= @customer.first_name.capitalize %>! Here are your account details: </h1>

<br>

<!--    IF  PURCHASE COUNTER  ELSE LINK TO INDEX(STORE):  ""-->
<% if @customer.purchase_list %>
  <% "You've purchased #{@customer.purchase_list.length} items" %>
<% else%>
<!--Shows users purchased item  count (can be  changed to be iterated thru for an index of items)-->
  <button>  <h3><%=link_to 'Shop All!', items_path%></button></h2>
  <% end %>
<!--     If the user hasn't bought any items, link to items_path or a store page-->
<!--Shows users purchased item  count (can be  changed to be iterated thru for an index of items)-->

<h2>Full name: <%= @customer.full_name %></h2>
<h2> Username: <%= @customer.username %></h2>
<h2>Address: <%= @customer.address %></h2>
<h2>Birthday: <%= @customer.birthday %> </h2><br><br>
<h2>Your purchases:</h2>
<ul><% @customer.purchase_list.each do |item| %>
 <h4><li> <%=link_to "#{item.size.capitalize} #{item.color.capitalize} #{item.style.capitalize}($#{item.price})", item_path(item) %> </li></h4>
<% end %></

</ul><br>

<h4 style=" font-family: 'Dancing Script', cursive"> <button style= 'navbutton_horiz_hovered: ', cursive'><%= link_to 'Edit Your Account', edit_customer_path(@customer) %> </h4> </button>
<!--create_table "items", force: :cascade do |t|-->
<!--t.float "price"-->
<!--t.string "style"-->
<!--t.string "size"-->
<!--t.string "color"-->
