
<h1> Shop All </h1>

<button> <%= link_to "Categories", categories_path %> </button>

<ul>
  <% @items.all.each do |item| %>

    <li> <%= link_to "#{item.style.capitalize}", item_path(item) %> <br>
      Size: <%= "#{item.size.capitalize}" %> &nbsp; Color: <%= "#{item.color.capitalize}" %> <br>
      Price: <%= "#{item.price}" %> </li>
  <% end %>

</ul>
