<html>
  <body>
    <h1> <%= @item.style %></h1>


      <ul>
        <li> Size: <%= @item.size %> &nbsp; Color: <%= @item.color %> </li> <br>
        <li> Price: <%= @item.price %></li>
      </ul>

    <br>
    <br>

    <h3> Create a Review </h3>
    <%= render partial: 'reviews/new' %>

    <br>
  </body>
  <button> <%= link_to "Home", categories_path %></button>
  <button> <%= link_to "Shop All", items_path %></button>

  <br> <br>
  <h3> Reviews for This Bag</h3>
  <br>
      <ul>
        <% @item.reviews.each do |review| %>
          <li> &nbsp; <%= review.rating %> &nbsp; | &nbsp; <%= review.content %></li> <br>
          <% end %>
      </ul>

</html>

