
  <body>
  <h1><%= @item.style %></h1>


    <div class="card">
      <div class="card-body">
        <img class="item-image-container" src="<%= "#{@item.image_path}"%> " />
        <div class="item-info">
          Size: <%= @item.size %> &nbsp; Color: <%= @item.color %>  <br>
          Price: <%= @item.price %>
        </div>
      </div>
    </div>

    <br>
    <br>

    <h4> Create a Review </h4>
    <%= render partial: 'reviews/new' %>

    <br>
  </body>
  <button> <%= link_to "Home", categories_path %> </button>
  <button> <%= link_to "Shop All", items_path %> </button>

  <br> <br>
  <h4> Reviews for This Bag</h4>
  <br>
      <ul>
        <% @item.reviews.each do |review| %>
          <li> &nbsp; <%= review.rating %> &nbsp; | &nbsp; <%= review.content %></li>
          <button> <%= link_to "Edit Review", edit_review_path(review) %></button>
          <button> <%= link_to "Delete Review", review_path(review), method: "delete" %> </button> <br>
          <% end %>

      </ul>

</html>

