
<h1> <%= @category.name %> </h1>

<ul>
<% @category.items.all.each do |item| %>
    <li> <%= link_to "#{item.style.capitalize}", item_path(item) %> <br>
      <%= "#{item.size.capitalize}" %> &nbsp; <%= "#{item.color.capitalize}" %> <br>
      <%= "#{item.price}" %></li>
<% end %>
</ul>

<button> <%= link_to "Shop All", items_path %> </button>